<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Natural Language Form</title>
		<meta name="description" content="Natural Language Form with custom text input and drop-down lists" />
		<meta name="keywords" content="Natural Language UI, sentence form, text input, contenteditable, html5, css3, jquery" />
		<meta name="author" content="Codrops" />
		<link rel="stylesheet" type="text/css" href="/css/languageForm.css" />
		<link rel="stylesheet" type="text/css" href="/css/component.css" />
		<script src="/js/modernizr.custom.js"></script>
	</head>
	<body class="nl-blurred">
		<div class="container demo-1">
			<header>
				<h1>Let's get a bit familiar <span>Just a formal introduction</span></h1>
			</header>
			<div style="float: right">
				<div id="google_translate_element"></div>
			</div>
			<div class="main clearfix">
				<form id="nl-form" class="nl-form" action="/marine" method="POST">
					Hello, <br />I am thankful for the few minutes that you've spared for us.
					<br /> I will call you
					<select name="title" id="title_id">
						<option value="1" selected>Title</option>
						<option value="2">His Majesty the King</option>
						<option value="3">Her Majesty the Queen</option>
						<option value="1">His Holiness</option>
						<option value="2">His Eminence</option>
						<option value="3">The Reverend</option>
						<option value="4">His Highness the Prince</option>
						<option value="2">Her Highness the Princess</option>
						<option value="2">Mr President</option>
						<option value="2">Mr Vice President</option>
						<option value="2">His Excellency</option>
						<option value="2">Her Excellency</option>
						<option value="2">Honorable</option>
						<option value="2">Mr</option>
						<option value="2">Mrs</option>
						<option value="2">Ms</option>
						<option value="2">Miss</option>
					</select>
					&nbsp;<input name="name" id="name_id" type="text" placeholder="Name"/>
					&nbsp;born on&nbsp;<input name="dob" id="dob_id" type="date" placeholder="Date"/>.
					<br />I will contact you on
					&nbsp;<input name="email" id="email_id" type="email" placeholder="Email"/>
					&nbsp;in case of any need.
					<br />
					I will help you with insights on
					&nbsp;
					<select name="profession" id="profession_id">
						<option value="1" selected>Your Profession</option>
						<option value="Oceanology">Oceanology</option>
						<option value="Oceanography">Oceanography</option>
						<option value="Ocean Engineering">Ocean Engineering</option>
						<option value="Marine Biiologist">Marine Biiologist</option>
						<option value="Marine Echologist">Marine Echologist</option>
						<option value="Biology Researcher">Biology Researcher</option>
						<option value="Underwater Archeologist">Underwater Archeologist</option>
						<option value="Aquaculturist">Aquaculturist</option>
						<option value="Fisherman">Fisherman</option>
						<option value="Social and Policy Science">Social and Policy Science</option>
						<option value="Environment Enthusist">Environment Enthusist</option>
						<option value="Climate Researcher">Climate Researcher</option>
						<option value="Ocean Advocate">Ocean Advocate</option>
						<option value="Aquatic Echology Technician">Aquatic Echology Technician</option>
						<option value="Underwater Cinematographer">Underwater Cinematographer</option>
						<option value="Environmental Educator">Environmental Educator</option>
					</select>
					<br />
					OK, now let's get you from
					&nbsp;<input name="town" id="town_id" type="text" placeholder="Your Hometown" data-subline="For example: <em>Los Angeles</em> or <em>New York</em>"/>
					<br />to
					<br />The Smallville that we have for you today.
					<div class="nl-submit-wrap">
						<button class="nl-submit" type="submit">Let's Get Going</button>
					</div>
					<div class="nl-overlay"></div>
				</form>
			</div>
		</div>
		<script type="text/javascript">
			function googleTranslateElementInit() {
				new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
			}
		</script><script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		<script src="/js/nlform.js"></script>
		<script>
			var nlform = new NLForm( document.getElementById( 'nl-form' ) );
      // function submitForm() {
			// 	setTimeout(function() {
	    //     // similar behavior as an HTTP redirect
	    //     window.location.replace("./presentation.html");
	    //   }, 3500);
			// }
		</script>
	</body>
</html>
