<!DOCTYPE html>

<!-- [if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en">
<![endif]-->
<!--[if gt IE 8]>
	<!--> <html class="no-js" lang="en">
<!--<![endif] -->

<head>
	<meta charset="utf-8">
	<meta name="description" content="Environmental Enthusist">
	<meta name="keywords" content="Discover the Aqua Culture">
	<title>Environment Enthusist</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- On iOS Safari, run in full-screen mode -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="author" content="Lucidity - Marine Solutions" />

	<link rel="stylesheet" href="/css/normalize1.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/reveal.css">
	<link rel="stylesheet" href="/css/theme/league.css" id="theme">
	<!-- TODO: http://htmlcheats.com/examples/revealjs/switchtheme.html -->

	<script src="/js/vendor/modernizr-2.6.2.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

	<!--[if lt IE 9]>
	<script src="lib/js/html5shiv.js"></script>
	<![endif]-->

	<style type="text/css">
		.back-link a {
			color: #4ca340;
			text-decoration: none;
			border-bottom: 1px #4ca340 solid;
		}
		.back-link a:hover,
		.back-link a:focus {
			color: #408536;
			text-decoration: none;
			border-bottom: 1px #408536 solid;
		}

		h1 {
			height: 100%;
			/* The html and body elements cannot have any padding or margin. */
			margin: 0;
			font-size: 14px;
			font-family: 'Open Sans', sans-serif;
			font-size: 32px;
			margin-bottom: 3px;
		}

		.entry-header {
			text-align: left;
			margin: 0 auto 50px auto;
			width: 80%;
			max-width: 978px;
			position: relative;
			z-index: 10001;
		}

	</style>
</head>


<body class="notLoaded">
<!--[if lt IE 7]>
<![endif]-->

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="/js/dark-blue.js"></script>

<!-- <div id="outerDiv"> -->

<div id="loader-wrapper">
	<div id="loader">
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
</div>

<div>
	<h1 style="text-align: center">Environment Enthusist</h1>
</div>

<!-- TODO: Make the slideshow part of other larget div tag to make embedded presentation. -->
<!-- Starting the whole slideshow -->
<div class="reveal">
	<!-- Starting another div tag to put all the slides inside. -->
	<div class="slides"><!-- Adding first slide -->
		<section id="section1_id">
			<h1>A drametic line to infer that we aren't safe</h1>
			<p>
				A beautiful animated photo carosal to show the catastrophies due to global warming and pollutions.
			</p>
		</section>

		<section id="section2_id">
			<h1>Categories</h1>
			<ul>
				<li>
					Birth Rate of Organisms
				</li>
				<li>
					Death Rate of Organisms
				</li>
				<li>
					Oxygen Level
				</li>
				<li>
					Temperature
				</li>
				<li>
					Salinity
				</li>
			</ul>
		</section>

		<section id="section3_id">
			<section id="section3.1_id" data-state="stats1">
				<h1>Analyse Heat</h1>
				<p>
				Water Temperature is rising every year
				<div id="container1" style="min-witdh: 310px; height: 400px; margin: 0 auto">
				</p>
			</section>
			<section id="section3.2_id" data-state="stats2">
				<h1>Analyse Acidity</h1>
				<p>
				Oceans are becoming Acidic because of increase in water CO2 level
				<div id="container2" style="min-witdh: 310px; height: 400px; margin: 0 auto">
				</p>

			</section>
			<section id="section3.3_id" data-state="stats3">
				<h1>Analyse Sea Level</h1>
				<p>
				Ocean Level is rising every year due to melting of Ice
				<div id="container3" style="min-witdh: 310px; height: 400px; margin: 0 auto">
				</div>
				</p>
			</section>
			<section id="section3.4_id" data-state="stats4">
				<h1>Analyse Ice Body</h1>
				<p>
				Glaciers are melting in Antarctica
				<div id="container4" style="min-witdh: 310px; height: 400px; margin: 0 auto">
				</div>
				</p>
			</section>
		</section>

		<section id="section4_id">
			<h1>Analyse Husbandry practices</h1>
			<p>
				Analyse the effects
			</p>
		</section>

		<section id="section5_id">
			<h1>Positive effects </h1>
			<p>
				See the improvement
			</p>
		</section>

		<section id="section6_id">
			<h1>Negative Effects</h1>
			<p>
				Practices that did not work out.
			</p>
		</section>

		<section id="section7_id">
			<h1>Check Supplies</h1>
			<p>
				Inventory Supplies
			</p>
		</section>

	</div>
</div>


<!-- </div> -->

<script src="/lib/js/head.min.js"></script>
<script src="/js/reveal.js"></script>
<script>
	// Required, even if empty.
	Reveal.initialize({
		slideNumber: false,
		rtl: false,
		embedded: true,
		help: true,
		history: false,
		controls: true,
		progress: true,
		keyboard: true,
		overview: true,
		center: true,
		touch: true,
		loop: false,
		showNotes: false,
		autoSlide: 0,
		autoSlideStoppable: true,
		mouseWheel: false,
		hideAddressBar: true,
		previewLinks: true,
		transition: 'convex',  // none/default/fade/slide/convex/concave/zoom
		transitionSpeed: 'default',  // default/fast/slow
		backgroundTransition: 'default',  // none/default/fade/slide/convex/concave/zoom
		viewDistance: 3,
		parallaxBackgroundImage: '',
		parallaxBackgroundSize: '',
		parallaxBackgroundHorizontal: null,
		parallaxBackgroundVertical: null,

		theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
		transition: Reveal.getQueryHash().transition || 'default' // default/cube/page/concave/zoom/linear/fade/none

	});
</script>
<script src="/js/main.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>



<script>

Reveal.addEventListener( 'stats1', function () {

	var chart = new Highcharts.Chart({
                colors: ["#7cb5ec", "#f7a35c"],
                chart: {
                    type: 'line',
                    renderTo: 'container1'
                },

        title: {
            text: 'Ocean Water Temperature Increase',
            x: -20 //center
        },
        subtitle: {
            text: 'Taking year 1920 as base',
            x: -20
        },
        xAxis: {
        	title:{
        	text: 'Year'
        	},
            categories: ['1880', '1900', '1920', '1940', '1960', '1980', '2000', '2015']
        },
        yAxis: {
            title: {
                text: 'Temperature Increase in Deg Celcius'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Temperature Increase',
            data: [0.5, 0.3, 0, 0.4, 0.6, 1.1, 1.4, 1.9]
        }]
    });
});

Reveal.addEventListener( 'stats2', function () {

	var chart = new Highcharts.Chart({
                colors: ["#7cb5ec", "#f7a35c"],
                chart: {
                    type: 'line',
                    renderTo: 'container2'
                },

        title: {
            text: 'Ocean water pH level Increase',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
        	title:{
        	text: 'Year'
        	},
            categories: ['1750', '1800', '1850', '1900', '1950', '1980', '2000', '2015', '2050']
        },
        yAxis: {
            title: {
                text: 'pH Level'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'pH Level',
            data: [8.181, 8.179, 8.171, 8.156, 8.138, 8.104, 8.082, 8.049, 7.824]
        }]
    });
});

Reveal.addEventListener( 'stats3', function() {
	var chart = new Highcharts.Chart({
								colors: ["#7cb5ec", "#f7a35c"],
								chart: {
										type: 'line',
										renderTo: 'container3'
								},

				title: {
						text: 'Sea Level Increase',
						x: -20 //center
				},
				subtitle: {
						text: 'Taking year 1880 as base',
						x: -20
				},
				xAxis: {
					title:{
					text: 'Year'
					},
						categories: ['1880', '1900', '1920', '1940', '1960', '1980', '2000', '2015']
				},
				yAxis: {
						title: {
								text: 'Sealevel (mm)'
						},
						plotLines: [{
								value: 0,
								width: 1,
								color: '#808080'
						}]
				},
				tooltip: {
						valueSuffix: '°C'
				},
				legend: {
						layout: 'vertical',
						align: 'right',
						verticalAlign: 'middle',
						borderWidth: 0
				},
				series: [{
						name: 'Sealevel',
						data: [0, 24, 52, 64, 92, 138, 186, 245]
				}]
		});
});

Reveal.addEventListener( 'stats4', function () {

	var chart = new Highcharts.Chart({
                colors: ["#7cb5ec", "#f7a35c"],
                chart: {
                    type: 'line',
                    renderTo: 'container4'
                },

        title: {
            text: 'Ice Mass Decrease in Antarctica',
            x: -20 //center
        },
        subtitle: {
            text: 'Taking year 2000 as base',
            x: -20
        },
        xAxis: {
        	title:{
        	text: 'Year'
        	},
            categories: ['2000', '2002', '2004', '2006', '2008', '2010', '2012', '2014']
        },
        yAxis: {
            title: {
                text: 'Ice Mass Decrease (billion metric tons)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Ice Mass Decrease',
            data: [0, 236, 483, 621, 789, 985, 1368, 1643]
        }]
    });
});


</script>

</body>
</html>
