<!DOCTYPE html>

<!-- [if lt IE 7]>
	<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]>
	<html class="no-js lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>
	<html class="no-js lt-ie9" lang="en">
<![endif]-->
<!--[if gt IE 8]>
	<!--> <html class="no-js" lang="en">
<!--<![endif] -->

<head>
	<meta charset="utf-8">
	<meta name="description" content=" Explore the Fishing World ">
	<meta name="keywords" content=" Analysing the Fishing Culture">
	<title>Global Warming - Hell Hound Approaching?</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- On iOS Safari, run in full-screen mode -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="author" content="Lucidity - Marine Solutions" />

	<link rel="stylesheet" href="css/normalize1.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="/css/reveal.css">
	<link rel="stylesheet" href="/css/theme/league.css" id="theme">
	<!-- TODO: http://htmlcheats.com/examples/revealjs/switchtheme.html -->

	<script src="/js/vendor/modernizr-2.6.2.min.js"></script>
	<!--[if lt IE 9]>
	<script src="lib/js/html5shiv.js"></script>
	<![endif]-->

	<style type="text/css">
	.back-link a {
		color: #4ca340;
		text-decoration: none;
		border-bottom: 1px #4ca340 solid;
	}
	.back-link a:hover,
	.back-link a:focus {
		color: #408536;
		text-decoration: none;
		border-bottom: 1px #408536 solid;
	}

	h1 {
		height: 100%;
		/* The html and body elements cannot have any padding or margin. */
		margin: 0;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		font-size: 32px;
		margin-bottom: 3px;
	}

	.entry-header {
		text-align: left;
		margin: 0 auto 50px auto;
		width: 80%;
        max-width: 978px;
		position: relative;
		z-index: 10001;
	}

	</style>
</head>


<body class="notLoaded">
<!--[if lt IE 7]>
<![endif]-->


	<!-- <div id="outerDiv"> -->

		<div id="loader-wrapper">
			<div id="loader">
				<div class="loader-section section-left"></div>
    		<div class="loader-section section-right"></div>
			</div>
		</div>

		<div class="reveal">
			<!-- Starting another div tag to put all the slides inside. -->
			<div class="slides"><!-- Adding first slide -->

			<section id="section1_id">
					<!-- <h1>Coming Soon...</h1> -->

					<section id="section1.1_id">
					<!-- <h1>Coming Soon...</h1> -->

					<h3>Dungeness crab ban in many areas of California</h3>
					<p>
						In November 2015, California state officials placed an indefinite hold on the commercial crab season, in order to protect public health. The reason given by the state was dangerously high levels of algal toxins in the bodies of the crabs.
						<br/>

						<ul>
						<li>The ban is revoked in May 2016.</li>
						</ul>
					</p>
					</section>
					<section id="section1.2_id">
					<!-- <h1>Coming Soon...</h1> -->

					<h3>Cause of Domoic Acid </h3>
					<p>
						<ul>
							<li>
								Due to a record bloom of an algae called Pseudo-Nitzchia, also known as red tide.
							</li>

							<li>
								Red tide is dangerous because it produces a neurotoxin called domoic acid, which can cause tremors, memory loss and even death.
							</li>

							<li>
								Even though the tide dissipated in October, California officials claimed that domoic acid from the tide had accumulated at dangerous levels in seafood, particularly crabs.
							</li>
						
						</ul>
					</p>
					</section>
				</section>
				<section id="section2_id">
					<!-- <h1>Coming Soon...</h1> -->

					<h3>Domoic Acid Levels</h3>
					<p>
					CHART HERE
					</p>
				</section>

				<section id="section2_id">
					<!-- <h1>Coming Soon...</h1> -->

					<h3>Side Effects on consuming high levels of domoic acid</h3>


					<p>

					<style type="text/css">
					.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;}
					.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
					.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
					.tg .tg-q5im{font-size:26px;vertical-align:top}
					.tg .tg-qcjy{font-size:22px;vertical-align:top}
					</style>
								<table class="tg" style="undefined;table-layout: fixed; width: 80%px">
								<tbody><tr>
								<th class="tg-q5im">Humans</th>
								<th class="tg-q5im">Other Animals</th>
								</tr>
								<tr>
								<td class="tg-qcjy">vomiting</td>
								<td class="tg-qcjy">head weaving</td>
								</tr>
								<tr>
								<td class="tg-qcjy">nausea</td>
								<td class="tg-qcjy">seizures</td>
								</tr>
								<tr>
								<td class="tg-qcjy">diarrhea and abdominal cramps within 24 hours of ingestion</td>
								<td class="tg-qcjy">bulging eyes</td>
								</tr>
								<tr>
								<td class="tg-qcjy">headache</td>
								<td class="tg-qcjy">mucus from the mouth</td>
								</tr>
								<tr>
								<td class="tg-qcjy">dizziness</td>
								<td class="tg-qcjy">disorientation</td>
								</tr>
								<tr>
								<td class="tg-qcjy">confusion, disorientation</td>
								<td class="tg-qcjy">death</td>
								</tr>
								<tr>
								<td class="tg-qcjy">loss of short-term memory</td>
								<td class="tg-qcjy"></td>
								</tr>
								<tr>
								<td class="tg-qcjy">motor weakness</td>
								<td class="tg-qcjy"></td>
								</tr>
								<tr>
								<td class="tg-qcjy">seizures</td>
								<td class="tg-qcjy"></td>
								</tr>
								<tr>
								<td class="tg-qcjy">profuse respiratory secretions</td>
								<td class="tg-qcjy"></td>
								</tr>
								<tr>
								<td class="tg-qcjy">cardiac arrhythmias</td>
								<td class="tg-qcjy"></td>
								</tr>
								<tr>
								<td class="tg-qcjy">coma and possible death</td>
								<td class="tg-qcjy"></td>
								</tr>
								</tbody>
							</table>
					</p>
				</section>



			</div>
		</div>

	<!-- </div> -->

	<script src="js/vendor/jquery-1.9.1.min.js"></script>
	<script src="/lib/js/head.min.js"></script>
	<script src="/js/reveal.js"></script>
	<script>
		// Required, even if empty.
		Reveal.initialize({
			slideNumber: false,
			rtl: false,
			embedded: true,
			help: true,
			history: false,
			controls: true,
			progress: true,
			keyboard: true,
			overview: true,
			center: true,
			touch: true,
			loop: false,
			showNotes: false,
			autoSlide: 0,
			autoSlideStoppable: true,
			mouseWheel: false,
			hideAddressBar: true,
			previewLinks: true,
			transition: 'convex',  // none/default/fade/slide/convex/concave/zoom
			transitionSpeed: 'default',  // default/fast/slow
			backgroundTransition: 'default',  // none/default/fade/slide/convex/concave/zoom
			viewDistance: 3,
			parallaxBackgroundImage: '',
			parallaxBackgroundSize: '',
			parallaxBackgroundHorizontal: null,
			parallaxBackgroundVertical: null,

      theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      transition: Reveal.getQueryHash().transition || 'default' // default/cube/page/concave/zoom/linear/fade/none

		});
	</script>
	<script src="/js/main.js"></script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

</body>
</html>
