<!DOCTYPE html>

<!-- [if lt IE 7]>
	<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]>
	<html class="no-js lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>
	<html class="no-js lt-ie9" lang="en">
<![endif]-->
<!--[if gt IE 8]>
	<!--> <html class="no-js" lang="en">
<!--<![endif] -->

<head>
	<meta charset="utf-8">
	<meta name="description" content=" Explore the Fishing World ">
	<meta name="keywords" content=" Analysing the Fishing Culture">
	<title>Global Warming - Hell Hound Approaching?</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- On iOS Safari, run in full-screen mode -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="author" content="Lucidity - Marine Solutions" />

	<link rel="stylesheet" href="css/normalize1.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="/css/reveal.css">
	<link rel="stylesheet" href="/css/theme/league.css" id="theme">
	<!-- TODO: http://htmlcheats.com/examples/revealjs/switchtheme.html -->

	<script src="/js/vendor/modernizr-2.6.2.min.js"></script>
	<!--[if lt IE 9]>
	<script src="lib/js/html5shiv.js"></script>
	<![endif]-->

	<style type="text/css">
	.back-link a {
		color: #4ca340;
		text-decoration: none;
		border-bottom: 1px #4ca340 solid;
	}
	.back-link a:hover,
	.back-link a:focus {
		color: #408536;
		text-decoration: none;
		border-bottom: 1px #408536 solid;
	}

	h1 {
		height: 100%;
		/* The html and body elements cannot have any padding or margin. */
		margin: 0;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		font-size: 32px;
		margin-bottom: 3px;
	}

	.entry-header {
		text-align: left;
		margin: 0 auto 50px auto;
		width: 80%;
        max-width: 978px;
		position: relative;
		z-index: 10001;
	}

	</style>
</head>


<body class="notLoaded">
<!--[if lt IE 7]>
<![endif]-->


	<!-- <div id="outerDiv"> -->

		<div id="loader-wrapper">
			<div id="loader">
				<div class="loader-section section-left"></div>
    		<div class="loader-section section-right"></div>
			</div>
		</div>

		<div class="reveal">
			<!-- Starting another div tag to put all the slides inside. -->
			<div class="slides"><!-- Adding first slide -->
				<section id="section1_id">
					<h1>Coming Soon...</h1>
				</section>

			</div>
		</div>

	<!-- </div> -->

	<script src="js/vendor/jquery-1.9.1.min.js"></script>
	<script src="/lib/js/head.min.js"></script>
	<script src="/js/reveal.js"></script>
	<script>
		// Required, even if empty.
		Reveal.initialize({
			slideNumber: false,
			rtl: false,
			embedded: true,
			help: true,
			history: false,
			controls: true,
			progress: true,
			keyboard: true,
			overview: true,
			center: true,
			touch: true,
			loop: false,
			showNotes: false,
			autoSlide: 0,
			autoSlideStoppable: true,
			mouseWheel: false,
			hideAddressBar: true,
			previewLinks: true,
			transition: 'convex',  // none/default/fade/slide/convex/concave/zoom
			transitionSpeed: 'default',  // default/fast/slow
			backgroundTransition: 'default',  // none/default/fade/slide/convex/concave/zoom
			viewDistance: 3,
			parallaxBackgroundImage: '',
			parallaxBackgroundSize: '',
			parallaxBackgroundHorizontal: null,
			parallaxBackgroundVertical: null,

      theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      transition: Reveal.getQueryHash().transition || 'default' // default/cube/page/concave/zoom/linear/fade/none

		});
	</script>
	<script src="/js/main.js"></script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

</body>
</html>
